.idea
03_pre_processing/Resultado_compareHist.csv
.ipynb_checkpoints
07_basic_video_commands/video.mp4
inline
09_characteristics_extraction/images/captcha_cut/*.png
12_character_reading/placa1.png
12_character_reading/detect_plate/models/*.cpickle