.idea
03_pre_processing/Resultado_compareHist.csv
.ipynb_checkpoints
07_basic_video_commands/video.mp4
inline
09_characteristics_extraction/images/captcha_cut/*.png
12_character_reading/*.png
12_character_reading/detect_plate/models/*.cpickle
14_deep_learning/01_lanet/kaggle.json
14_deep_learning/01_lanet/melanoma-skin-cancer-dataset-of-10000-images.zip
14_deep_learning/01_lanet/melanoma_dataset
14_deep_learning/01_lanet/best_model.h5
14_deep_learning/01_lanet/*.jpg
16_projects/01_object_separation/objects/*.jpg